.bouncing-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bouncing-letter {
    display: inline-block;
    animation: none;
  }
  
  @keyframes bounce {
    to {
      transform: translateY(40px);
    }
  }
  